<!DOCTYPE html>
<html>
<head>
  <title>SnackOverflow</title>
   <%= stylesheet_link_tag 'application', "<link href='http://fonts.googleapis.com/css?family=Inder' rel='stylesheet' type='text/css'>" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='container' >
<%= render :partial => 'layouts/nav_bar' %>

<%= yield %>
  </div>
</body>
</html>
