<div id='nom-show'>
  <%= image_tag(@nom.pic_url, size: "200x200", alt: @nom.title, class: 'nom-pic') %>
  <h3 class='score'><%= @nom.score %> Brownie points</h3>
  <p>created by: <%= @nom.user.username%> <%= time_ago_in_words @nom.created_at %> ago</p>
  <div id='edit-nom'>

  <h3> Edit your favorite noms here </h3>
  <%= form_for(:nom, url: nom_path, method: "patch") do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <%= f.label 'Review your nom!' %>
  <%= f.text_area :review, size: "35x10" %><br>
  <%= f.label :pic_url%>
  <%= f.text_field :pic_url %><br>
  <%= f.submit "Edit Nom" %>
<% end %>

</div>
<%= link_to "It's So Tasty!", nom_up_path(@nom.id) %>
<%= link_to "That's Nasty!", nom_down_path(@nom.id) %>


<ul>
  <% @nom.comments.each do |com| %>
    <li><%= render :partial => 'shared/show_comment', :locals => {:comment => com} %></li>

    <% end %>
  </ul>

</div>
