<div class="row">
<div class="small-6 columns">
<div id='nom-show'>
  <%= image_tag(@nom.pic_url, size: "200x200", alt: @nom.title) %>
  <h3 class='score'><%= @nom.score %> Brownie points</h3>
  <p>created by: <%= @nom.user.username%></p>
  <p><%= time_ago_in_words @nom.created_at %> ago</p>
</div>
</div>

<div id='edit-nom'>
    <div class="small-6 columns">
      <%= form_for(:nom, url: nom_path, method: "patch") do |f| %>
        <fieldset>
          <legend>Edit Your Nom</legend>
          <%= f.label :title %>
          <%= f.text_field :title %><br>
          <%= f.label 'Review your nom!' %>
          <%= f.text_area :review, size: "35x10" %><br>
          <%= f.label :pic_url%>
          <%= f.text_field :pic_url %><br>
          <%= f.submit "Edit Nom" %>
        </fieldset>
      <% end %>
      <%= link_to "Back", :back %>
    </div>
  </div>
</div>





