<div class="row">
  <div class="small-6 large-centered columns">
    <h3> Add your favorite noms here </h3>
    <%= form_for(:nom, url: noms_path) do |f| %>
      <fieldset>
        <legend>Submit a new Nom</legend>
        <%= f.label :title %>
        <%= f.text_field :title %><br>
        <%= f.label 'Review your nom!' %>
        <%= f.text_area :review, size: "35x10" %><br>
        <%= f.label :pic_url%>
        <%= f.text_field :pic_url %><br>
        <%= f.submit "NOM NOM NOM" %>
      </fieldset>
    <% end %>
  </div>
</div>
