<div class="add-tag-dropdown">
  <%= form_for :nom_tags, url: {controller: 'tags', action: "create"} do |f| %>
    <%= f.label 'Add a Tag' %> <br>
    <%= f.select :name, options_for_select(["Sweet","Salty","Savory","Unami","Sour"], "Sweet" ) %>
  <% end %>
</div>

<div class="create-tag">
  <%= form_for :tag, url: {controller: 'tags', action: "create"} do |f| %>
  <%= f.label 'Create a Tag' %> <br>
  <%= f.text_field 'name' %><br>
  <%= f.submit "Tag" %>
<% end %>
</div>
