<div class='nom-headline'>
    <%= image_tag(nom.pic_url, size: "100x100", alt: nom.title, class: 'index-nom-pic') %>
    <div class="nom-info">
      <h4><%= link_to "#{nom.title}", nom_path(nom) %></h4>
      <h6 class='score'><strong><%= nom.score %> Brownie points</strong></h6>
      <h5><%= nom.review[0..20] %>...</h5>
      <em>created by: <%= nom.user.username%></em>
    </div>
  </div>
