<div class='comment-show'>
  <span class='comment-score'><%= link_to "Tasty!", comment_up_path(comment.id), class: 'button radius tiny success' %>
    <%= link_to "Nasty!", comment_down_path(comment.id), class: 'button radius tiny alert' %>
   |  Brownie Points :<%= comment.score %></span>
    <p class='comment-body'><%= comment.body %></p>
    <% if item_editable?(comment) %>
    <%= link_to 'Delete', comment_path(comment.id), method: :delete %>
  <% end %>

</div>
