

<div class="row">


  <div class="large-9 columns" role="content">
    <div class="index-nom-noms">

      <article>

      <h2>Check out these 5 latest noms!</h2>
        <div class="row">
          <div class="large-9 columns">
            <% @noms_most_recent.each do |nom| %>
              <%= render :partial => 'shared/nom_headline', :locals => {:nom => nom} %>
            <% end %>
          </div>
        </div>

      </article>
    </div>

  </div>






  <aside class="large-3 columns">

    <div class="panel">
      <h4>Featured</h4>
      <center><%= image_tag(Nom.rand_nom.pic_url, size: "100x100") %></center>
      <strong><%= Nom.rand_nom.title %></strong><br>
      <%= link_to "Read More →", nom_path(Nom.rand_nom) %>
    </div>

    <h4>Vending Now!</h4>
    <p>hotter than hot fries</p>
    <ul class="side-nav">
      <% @vending.each do |nom| %>
        <li><%= link_to "#{nom.title} (Score: #{nom.score})", nom_path(nom) %> </li>
      <% end %>
    </ul>


  </aside>


</div>




