
<div class="row">
  <div class="small-9 small-centered columns">
    <div class="small-6 columns">
      <%= image_tag @user.pic_url %>
    </div>

    <div class="small-6 columns">
      <div class="hide-for-small panel">
        <h3>
          <%= @user.username %>
          <% if @user == current_user %>
            <%= link_to "Edit Profile", user_edit_path %>
          <% end %>
        </h3>
        <h5 class="subheader">
          Brownie points: <%= @user.brownie_points %><br>
          <%= @user.name %><br>
          <%= @user.email %><br>
          <%= link_to "Website", @user.website_url %><br>
          <%= @user.bio %>
        </h5>
      </div>
  </div>
</div>




<div class="large-12 columns">
   <hr/>
   <div class="row">
     <div class="large-6 columns">
      <ul class="tabs" data-tab>
        <li class="tab-title active"><a href="#panel1">Submitted Noms</a></li>
        <li class="tab-title"><a href="#panel2">Favorited Noms</a></li>
      </ul>
      <div class="tabs-content">
        <div class="content active" id="panel1">
          <% if @noms.count == 0 %>
            This user has not submitted any noms.
          <% else %>
            <% @noms.each do |nom| %>
              <p><%= link_to nom.title, nom_path(nom) %></p>
            <% end %>
          <% end %>
        </div>
        <div class="content" id="panel2">
          <% @upvoted_noms.each do |nom| %>
            <p><%= link_to nom.title, nom_path(nom) %></p>
            <% end %>
        </div>
      </div>
   </div>
 </div>